/* 카테고리 스타일 */
.category {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
    flex-wrap: wrap; /* Flex 아이템이 화면 크기에 맞게 줄 바꿈을 할 수 있도록 함 */
}

.category li {
    list-style: none; /* 리스트 스타일 제거 */
    cursor: pointer;
}

.category a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 중앙 정렬 */
    padding: 10px;
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.category li a::before {
    content: "";
    display: block;
    width: 10rem;
    /* height: 10rem; */
    aspect-ratio: 1/1;
    background: no-repeat center center / cover;
    user-select: none;
    pointer-events: none;
    margin-bottom: 1rem; /* 이미지와 텍스트 사이 간격 */
    transition: 0.4s;
}

.category li:nth-child(1) a::before {
    background-image: url(../img/sub/category-1.jpg);
}
.category li:nth-child(2) a::before {
    background-image: url(../img/sub/category-2.jpg);
}
.category li:nth-child(3) a::before {
    background-image: url(../img/sub/category-3.jpg);
}
.category li:nth-child(4) a::before {
    background-image: url(../img/sub/category-4.jpg);
}
.category li:nth-child(5) a::before {
    background-image: url(../img/sub/category-5.jpg);
}
.category li:nth-child(6) a::before {
    background-image: url(../img/sub/category-6.jpg);
}
.category li:nth-child(7) a::before {
    background-image: url(../img/sub/category-7.jpg);
}
.category li:nth-child(8) a::before {
    background-image: url(../img/sub/category-8.jpg);
}
.category li:nth-child(9) a::before {
    background-image: url(../img/sub/category-9.jpg);
}
.category li:nth-child(10) a::before {
    background-image: url(../img/sub/category-10.jpg);
}

/* 텍스트 스타일 */
.category li a b {
    font-weight: 700;
    font-size: 1.6rem;
    color: #333;
}

/* 실제 메뉴 */
.menu-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 10rem;
}

.menu-list {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1rem;
}

.menu-section h2 {
    font-weight: 700;
    font-size: 5rem;
}

.menu-list li {
    flex-shrink: 0;
    display: inline-block;
    width: 45.4rem;
    box-sizing: border-box;
    margin-right: 1rem;
    pointer-events: none;
    user-select: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-list li img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.menu-list li dl {
    margin-top: 4rem;
}

.menu-list li dl dt {
    font-weight: 500;
    font-size: 3.2rem;
    color: var(--main-color);
}

.menu-list li dl dd {
    font-weight: 200;
    font-size: 2.5rem;
    color: var(--dark-50);
}

.menu-list li dl dd b {
    word-spacing: 1rem;
}

.menu-list:last-child {
    margin-bottom: 10rem;
}

/* 호버 효과 */
.category li a:hover::before {
    transform: scale(1.05); /* 크기를 10% 키움 */
    transition: transform 0.3s ease-in-out; /* 부드러운 전환 효과 */
    /* border: 3px solid #000; */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.menu-section:focus {
    background-color: #e7209a;
}

/* 핸드폰 메뉴 */
.menu-container {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 5rem;
    aspect-ratio: 1/1;
    z-index: 50;
}

.phone-menu {
    cursor: pointer;
    z-index: 1000;
    position: fixed; /* relative에서 fixed로 변경 */
    top: 20px; /* 상단 위치 지정 */
    right: 20px; /* 오른쪽 위치 지정 */
    width: 5rem; /* 너비 지정 */
    aspect-ratio: 1/1;
}

.submenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
}

.submenu.active {
    display: block;
    transform: translateX(0);
}

.submenu-header {
    padding: 20px;
    text-align: left;
}

.submenu-close {
    font-size: 24px;
    cursor: pointer;
}

.submenu-item {
    display: block;
    padding: 3% 4%;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.submenu-item:hover {
    background-color: #173fc2;
    color: #fff;
}

@media (max-width: 1200px) {
    .category {
        display: flex; /* Ensure the container is a flex container */
        flex-wrap: nowrap; /* Prevent wrapping */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Optional: Ensures content doesn't wrap */
    }

    .category li a::before {
        content: "";
        display: block;
        aspect-ratio: 1/1;
        background: no-repeat center center / cover;
        user-select: none;
        pointer-events: none;
        margin-bottom: 1rem; /* 이미지와 텍스트 사이 간격 */
        transition: 0.4s;
    }
}

@media (max-width: 1200px) {
    .inner {
        /* width: 969px; */
        width: 94.6289%;
    }
    /* sub */
    #header-sub .inner h1 {
        font-size: 3.5rem;
    }

    .menu-container {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 5rem;
        height: 5rem;
        z-index: 50;
    }
}
